h1, h3 {
  text-align: center;
  font-family: Georgia, serif;
}

/* .contenedor-boton {
  text-align: center;
} */

label, legend {
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

/* .contenedor-boton {
  height: 20px;
  text-align: center;
}

.buttons {
  height: 20px;
} */


.button {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

#medio {
  text-align: center;
}
input:hover {
  background-color: red;
}